@media only screen and (min-width: 32.5em) {
    header {
        display: grid;
        grid-template-columns: 70px auto;
    }

    .portal-header-img {
        grid-column: 1/2;
    }

    .portal-header-name {
        grid-column: 2/3;
    }
}