h1, p {
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 70px auto;
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
}

.portal-header-name {
    text-align: center;
}

footer {
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
}

footer p {
    text-align: center;
}