img {
    max-height: 500px;
}

header, footer {
    padding: 5px;
}

h1, h2, p {
    font-family: 'Be Vietnam Pro', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

header {
    text-align: center;
    background-color: darkolivegreen;
    max-width: 100%;
}

div {
    background-color: silver;
    margin-bottom: 50px;
}

h1, h2 {
    background-color: darkolivegreen;
    color: white;
}

div.contrast {
 
    margin-top: 50px;
}

div.visual-hierarchy {
 
}

div.rule-thirds {
    

}

footer {
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
    max-width: 100%;
}

footer p {
    text-align: center;
}