img {
    max-height: 500px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

div.contrast {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
}

div.visual-hierarchy {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
}

div.rule-thirds {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr;
}
