h1, p {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 5px;
}

header {
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.portal-header-img {
    grid-column: 2/3;
}

.portal-header-name {
    text-align: center;
    grid-column: 1/4;
}

footer {
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
}

footer p {
    text-align: center;
}

header, body, footer {
    margin: 0 auto;
    max-width: 500px;
}